* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#h1 {
    color: skyblue;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 60px;
}

#insert {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 2em;

    td {
        padding: 20px 55px;
      }
}